# Secrets
.secrets/

# Node
node_modules/

# Java
*.class
*.war
*.ear

# Maven
target/
release.properties
pom.xml.releaseBackup
pom.xml.tag

# Gradle
.gradle
/local.properties
/build
/captures
.externalNativeBuild

# Intellij
.idea/
*.iml
*.iws
*.ipr

# Eclipse
.settings/
.classpath
.project

# Vim
.log
.tmp
*.swp

# Mac
.DS_Store

